@{
    ViewBag.Title = "About";
}
<div class="page" id="About">
   
    <section class="supergirl">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <img class="img-responsive" src="~/Images/SuperGirl.jpg" alt="Girl in Cape from Global Goals Getty Images" />
            </div>
            <div class="col-sm-4">
                <div class="pagelist">
                    <div class="sectionTilte"><h3>What is EQUITY?</h3></div>

                    <ul>
                        <li><h4>Provocative platform to end gender, racial and religious stereotypes that feed global inequity</h4></li>
                        <li><h4>2017 Focus is GENDER EQUITY, recognizing the intersectionality across race and religion</h4></li>
                        <li><h4>Event takes place Sept 21, 2017 – International Day of Peace</h4></li>
                    </ul>
                </div>
            </div>
        </div> <!--row-->
    </section>
    <section class="mosaic">
        <div class="MosaicImage">
            <div class="row">
                <img class="img-responsive col-sm-12" src="~/Images/Mosaic.jpg" alt="Digital Mosaic"/>
                <div class="row">
                    <div>
                        <h3><span class="col-sm-8 col-sm-offset-2">Launch of D.A.M.N, an artistic digital visualization platform of 7B pixels, driving a mosaic of global actions</span></h3>
                        <h4><span class="col-sm-8 col-sm-offset-2">Digital Accountability Mosaic Network Give a D.A.M.N.</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="DAMNroom">
        <div class="RoomImage">
            <img class="img-responsive" src="~/Images/SlideWithDAMN.png" />
            <div class="row">
                <h4><span class="col-sm-8 col-sm-offset-2">Digital Installation with Interactive Touch Technology, extended online & via EQUITY App</span></h4>
            </div>
        </div>
    </section>
    <section class="GlobalGoals">
        <div class="row">
            <div class="col-sm-10 col col-sm-offset-1">
                <h3>The actions will focus on Global Goal #5 Gender Equity, recognizing interdependencies across all goals</h3>
                <img class="img-responsive WideImage" src="~/Images/GlobalGoals.jpg" alt="Image of the 17 Global Goals"/>
            </div>
        </div>
    </section>
    <section class="partners">
        <div>
            <h2 class="sectionTilte">
                Who is supporting EQUITY?
            </h2>
            <h3>
                In collaboration with the UN's Sustainable Development Goals, In Compact, and Global Citizen
                Partnering with leading global corporations and NGOs
            </h3>
            <div class="row">
                <img class="img-responsive col-sm-9" src="~/Images/UNLogoSDG.png" alt="The UN Sustainable Goals Logo" />
                <img class="img-responsive col-sm-3" src="~/Images/GlobalCitizenLogo.png" alt="The Global Citizen Logo"/>
            </div>
        </div>
    </section>
</div>
