@{
    ViewBag.Title = "About";
}
<div class="page" id="About">
    <section class="supergirl">
        <!-- Supergirl -->
        <img class="img-responsive WideImage" src="~/Images/SuperGirl.jpg" alt="Girl in Cape from Global Goals Getty Images" />
    </section> <!-- Supergirl -->
    <section class="WhatIsEquity">
        <!-- What -->
        <div class="backgroundQ spacedbanner">
            <h1 class="frontOfQ banner">WHAT IS EQUITY?</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Spacer -->
                <div class="col-sm-12 WhatIsEqHeadFoot">
                    <div class="statement"></div>
                </div>
            </div> <!-- Spacer -->
            <div class="row">
                <div class="col-sm-4 hvcenter minheight">
                    <div class="displayflex">
                        <div class="centereddiv">
                            <h4 class="desctext">Provocative platform to end gender, racial, and religious stereotypes that feed global inequity</h4>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 hvcenter separator minheight">
                    <div class="displayflex">
                        <div class="centereddiv">
                            <h4 class="desctext">2017 Focus is GENDER EQUITY, recognizing the intersectionality across race and religion</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 hvcenter minheight">
                    <div class="displayflex ">
                        <div class="centereddiv ">
                            <h4 class="desctext">Event takes place March, 2018 – International Women's Month</h4>
                        </div>
                    </div>
                </div>
            </div> <!--row-->
            <div class="row">
                <!-- Spacer -->
                <div class="col-sm-12 WhatIsEqHeadFoot">
                    <div class="statement"></div>
                </div>
            </div> <!-- Spacer -->
        </div>
    </section> <!-- What -->
    <section class="partners-UN">
        <div class="partners-UN-div">
            <h1 class="banner spacedbanner">
                UNITED NATIONS
            </h1>
            <div class="backgroundPartners-UN-div">
                <div class="frontOfPartners-UN-Image">
                    <a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank">
                        <img class="img-responsive" src="~/Images/UNLogoSDG.png" alt="The UN Sustainable Goals Logo" />
                    </a>
                    <!--<img class="img-responsive col-sm-3" src="~/Images/GlobalCitizenLogo.png" alt="The Global Citizen Logo" />-->
                </div>
                    <h4 class="frontOfPartners-UN">
                        In collaboration with the UN's Sustainable Development Goal #5, Gender Equality <sub><br />(Note:add link/popup(?) with global goals page-DC)</sub>
                    </h4>
                    <p style="display:none">, In Compact, and Global Citizen Partnering with leading global corporations and NGOs</p>
            </div>
        </div>
    </section>
    <section class="partners-GG">
        <h1 class="banner spacedbanner">
            PROUD PARTNER OF GLOBAL CITIZEN
        </h1>
        <div>
            <a href="https://www.globalcitizen.org" target="_blank" class="backgroundPartners-GG">
                <img class="img-responsive col-sm-3" src="~/Images/GlobalCitizenLogo.png" alt="The Global Citizen Logo" />
            </a>
        </div>
        <div>
            <h4 class="frontOfPartners-GG" style="display:none">
                Proud Partner of Global Citizen
            </h4>
        </div>
    </section>
    <!--Move mosaic and room to DAMN page-->
    <section class="mosaic">
        <div class="MosaicImage">
            <div class="row">
                <img class="img-responsive col-sm-12" src="~/Images/Mosaic.jpg" alt="Digital Mosaic" />
                <div class="row">
                    <div>
                        <h3><span class="col-sm-8 col-sm-offset-2">Launch of D.A.M.N, an artistic digital visualization platform of 7B pixels, driving a mosaic of global actions</span></h3>
                        <h4><span class="col-sm-8 col-sm-offset-2">Digital Accountability Mosaic Network Give a D.A.M.N.</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Hidden-->
    <section class="DAMNroom">
        <div class="RoomImage">
            <img class="img-responsive" src="~/Images/SlideWithDAMN.png" />
            <div class="row">
                <h4><span class="col-sm-8 col-sm-offset-2">Digital Installation with Interactive Touch Technology, extended online & via EQUITY App</span></h4>
            </div>
        </div>
    </section> <!--Hidden-->
    <section class="GlobalGoals">
        <div class="row">
            <div class="col-sm-10 col col-sm-offset-1">
                <img class="img-responsive WideImage" src="~/Images/GlobalGoals.jpg" alt="Image of the 17 Global Goals" />
            </div>
        </div>
    </section>
</div>
