@{
    ViewBag.Title = "Gallery";
}
<div class="repad">
    <h1>Gallery</h1>
    <div class="well">Hi All - let me know your thoughts - perhaps the page/menu should be "Art" as Video, photos, and painting are all considered art</div>
    <div class="well">Videos here</div>
    <div class="well">Artwork here</div>
    <div class="well">Photos here</div>
</div>

