@{
    ViewBag.Title = "Home";
}

<div class="page" id="index">
    <div class="container-fluid">
        <div class="MapImage row">
            <img class="img-responsive" src="../../Images/DAMN Map.jpg" width="1512" height="859" 
                 alt="Digital Accountability Mosaic Network Map (Artwork by Michael Tompsett)" 
                 title="Digital Accountability Mosaic Network Map (Artwork by Michael Tompsett)"/>
            <h4>Artwork by Michael Tompsett</h4>
        </div>
    </div>
    <div class="intro repad"> <!--Intro-->
        <div>
            <h1 class="banner spacedbanner"><br />INTRODUCING EQUITY<br /></h1>
            <h4 class="banner">PROJECT FOR ALL<br /><br /></h4>
            <h5 class="center">A <strong>NEW</strong> social good <strong>DISRUPTOR</strong>, driven by passionate global citizens</h5>
        </div>
    </div> <!--Intro-->
    <div class="MissionSummary">
        <!--Mission Summary-->
        <div class="row"><!--Spacer-->
            <div class="col-sm-12 MissionSummaryHeadFoot">
                  <div class="statement"></div>
            </div> 
        </div><!--Spacer-->
        <div class="row">
            <!-- Statement-->
            <!--Initiative page content condensed-->
            <div class="col-sm-6 statement">
                <h3 class="banner">OUR MISSION</h3>
            </div>
            <div class="col-sm-6 statement separator">
                <h3 class="banner">OUR LAUNCH EVENT</h3>
            </div>
        </div> <!-- Statement-->
        <div class="row">
            <!-- Equal sign -->
            <!--Initiative page content condensed--> <!--I need to figure out how to add the vertical down the middle-->
            <div class="col-xs-6 eqsignbox">
                <h3 class="banner eqsign">=</h3>
            </div>
            <div class="col-xs-6 eqsignbox separator">
                <h3 class="banner eqsign">=</h3>
            </div> <!--Initiative page content condensed-->
        </div> <!-- Equal sign -->
        <div class="row">
            <!-- desc -->
            <!--Initiative page content condensed-->
            <div class="col-xs-6 displayflex">
                <div class="centereddiv">
                    <p class="MissionDesc">To end inequity through emotive storytelling, empowering art, and disruptive technology</p>
                </div>
            </div>
            <div class="col-xs-6 displayflex separator">
                <div class="centereddiv">
                    <p class="MissionDesc">EQUITY on March 8th, 2018</p>
                </div>
            </div> <!--Initiative page content condensed-->
        </div> <!-- desc -->
        <div class="row"><!--Spacer-->
            <div class="col-sm-12 MissionSummaryHeadFoot">
                
                <div class="statement"></div>
            </div> 
        </div><!--Spacer-->

    </div> <!--Initiative page content condensed-->

</div>