@{
    ViewBag.Title = "Home";
}

<div class="page" id="index">
    <div class="container-fluid">
        <div class="MapImage row">
            <img class="img-responsive" src="../../Images/DAMN Map.jpg" width="1512" height="859" 
                 alt="Digital Accountability Mosaic Network Map (Artwork by Michael Tompsett)" 
                 title="Digital Accountability Mosaic Network Map (Artwork by Michael Tompsett)"/>
            <h4>Artwork by Michael Tompsett</h4>
        </div>
    </div>
    <div class="repad">
        <h2 class="banner">INTRODUCING </h2>
        <h3>EQUITY Project For All</h3>
        <p>A <strong>NEW</strong> social good <strong>DISRUPTOR</strong>, driven by passionate global citizens</p>
        <h3>Our Mission</h3>
        <p>To end inequity through emotive storytelling, empowering art , and disruptive technology</p>
        <h3>Our Launch Event</h3>
        <p>EQUITY on March 8th, 2018</p>

    </div>
</div>