
@{
    ViewBag.Title = "Initiatives";
}

<section class="TheHow">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <img src="~/Images/GenderEqPlus.png" width="100%" />
        </div>
        <div class="col-sm-4">
            <div class="sectionTilte"><br />How will EQUITY be launched?<br /><br /><br /></div>
            <ul>
                <li><h4>Using an emotive storyline across VR, AR, visual arts, poetry, music, comedy, and dance</h4></li>
                <li><h4>The Digital Accountability Mosaic Network (D.A.M.N.) will be the centerpiece of the story</h4></li>
                <li><h4>Launched as an artistic digital interactive installation online, and within the EQUITY app, powered by AI</h4></li>
            </ul>
        </div>
    </div>
</section>
<section class="EquityGoal">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
            <div><img src="~/Images/GlobalGoalsWithWoman.jpg" width="100%" /></div>
            <div><img src="~/Images/Woman in Car.jpg" width="100%"/></div>
        </div>
        <div class="col-sm-4">
            <div class="sectionTilte"><br /><br />What is EQUITY's goal?<br /><br /></div>
            <ul>
                <li><h4>To ignite measurable actions towards achieving GENDER EQUITY in the path to achieve the GLOBAL GOALS by 2030</h4></li>
                <li><h4>Event planned for March 2018 during Global Goals week & UN General Assembly</h4></li>
            </ul>
        </div>
    </div> <!--row-->
</section>
  