
@{
    ViewBag.Title = "Initiatives";
}

<section class="TheHow">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <img src="~/Images/GenderEqPlus.png" width="100%" alt="Gender Equity Symbol from Global Goals"/>
        </div>
        <div class="col-sm-4">
            <div class="sectionTilte"><br />How will EQUITY be launched?<br /><br /><br /></div>
            <ul>
                <li><h4>Using an emotive storyline across VR, AR, visual arts, poetry, music, comedy, and dance</h4></li>
                <li><h4>The Digital Accountability Mosaic Network (D.A.M.N.) will be the centerpiece of the story</h4></li>
                <li><h4>Launched as an artistic digital interactive installation online, and within the EQUITY app, powered by AI</h4></li>
            </ul>
        </div>
    </div>
</section>
  