
@{
    ViewBag.Title = "Projects";
}

<div class="repad">
    <section class="DAMN">
        <h2>Digital Accountability Mosaic Network</h2>
        <div class="well">
            <p>
                We can place the live DAMN map here
            </p>
        </div>
    </section>

    <section class="DebutEvent">
        <h2>The Paley Center</h2>
        <div class="well">
            <p>
                INfo about the Paley Center here
            </p>
        </div>

    </section>
</div>


