/* is it 43,169,225 or 38,169,225? */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    color:black;
    /* rgb(43,169,225); */

}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* use bullets content lists */
ul {
    list-style:disc;
}

div.sectionTilte, .sectionTilte {
    text-align:center;
    font-size:1.8em;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add the logo, Change the header background to EQUITY blue (43, 169, 225) with white text*/
.navbar {
    transition: all .5s ease-out;
}

.navbar-default .navbar-brand {
    background-image: url("../Images/equity_V3-03black.png" );
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box;
    padding:0;
    margin-top: 0;
    width:250px;
    height:60px;

}


.nav {
    border-color: black;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    background-color: white;
    color: black;    
    text-shadow: none;
    font-size:1.2em;
}

 .navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: white;
}

.navbar-default .navbar-nav > li> a .active  { /* not working yet*/
    /*  color: rgb(43, 169, 225);     */
    font-weight: 100;
    border-bottom: solid white;
}

/*.navbar-default .navbar-brand:hover {
    color: white;
}*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:white;
}

div.MapImage h4 {
    color:white;
}

div.RoomImage h4 {
    color:white;
}

div.RoomImage h3 span {
    width:80%;
    color:white;
    top: 1em;
}


.repad {
    padding-left: 15px;
    padding-right: 15px;
}

 .banner {
    color: black;
}

.tName, .bName {
    color: black;
 }

.tTitle, .bTitle {
    color: black;
 }

.tBio {
    color: black; 
}


.bBio {
    color: black;
    display:none;
 }

 .tImg, .bImg {
    width: 250px;
    height: 250px;
    
    background-size:cover;
    background-position: 50% 50%;
    display:block;
 }

 h1,h2,h3,h4,h5,h6,p {
    color: black;
}

  h3 {
    font-size:2em;
}

