/* is it 43,169,225 or 38,169,225? */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    color: rgb(43,169,225); 
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* use bullets content lists */
ul {
    list-style:disc;
}

div.sectionTilte, .sectionTilte {
    text-align:center;
    font-size:2.5em;
    font-weight:700;
    padding-top:2em;
    padding-bottom:2em;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add the logo, Change the header background to EQUITY blue (43, 169, 225) with white text*/
.navbar {
    transition: all .5s ease-out;
}

.navbar-default .navbar-brand {
    background-image: url("../Images/equity_V3-03blue.png" );
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box;
    padding:0;
    margin-top: 0;
    width:250px;
    height:60px;

}


.nav {
    border-color: black;
}

.navbar-default  {
    color: white;
    border: none;
    background-color:white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    background-color: white;
    color: rgb(43, 169, 225);    
    text-shadow: none;
    font-size:1.2em;
}

 .navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(43, 169, 225);
    color: white;
}

.navbar-default .navbar-nav > li> a .active  { /* not working yet*/
    /*  color: rgb(43, 169, 225);     */
    color: greenyellow;
    font-weight: 100;
    border-bottom: solid rgb(43, 169, 225);
}

/*.navbar-default .navbar-brand:hover {
    color: white;
}*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:black;
}

/* Map Image class is WideImage */
.container {
    
    margin-left: 0;
    margin-right: 0;
}

.WideImage {
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    width:100%;
}

.NarrowImage {
    padding: 0 0 0 0; /*pixels*/
    position:relative;
}

.MapImage {
    position:relative;
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
    width:100%;
}

div.MapImage h4 {
    position:absolute;
    color:rgb(43,169,225);
    font-size:.9em;
    font-style:italic;
    bottom:1em;
    right:2em;
}

.MosaicImage {
    position:relative;
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
    width:100%;
}

div.MosaicImage h3 {
    position:absolute;
    color:white;
    font-size:1.5em;
    font-style:italic;
    top:1em;
    text-align:center;
    width:100%;
}

div.MosaicImage h4 {
    position:absolute;
    color:white;
    font-size:.9em;
    font-style:italic;
    font-weight:700;
    bottom:1em;
    text-align:center;
    width:100%;
}

.RoomImage {
    position:relative;
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    margin-left:0;
    margin-right:0;
    width:100%;
}

div.RoomImage h4 {
    position:absolute;
    color:white;
    font-size:1.5em;
    font-style:italic;
    top:.7em;
    text-align:center;
    font-weight:700;
    width:100%;
}

div.RoomImage h3 span {
    width:80%;
    color:white;
    top: 1em;
}


.repad {
    padding-left: 15px;
    padding-right: 15px;
}

.MissionSummary {
    padding-top:2em;
    padding-bottom:2em;
}
 .banner {
    text-align:center;
    font-weight:700;
}

 h1.spacedbanner{
     padding-top: 1em;
 }

 .center {
    text-align:center;
}
.EquityGoal {
    margin-left:1em;
    margin-right:1em;
 }

.separator {
    border-left-style:solid;
    border-left-color:rgb(43,169,225);
 }

.backgroundQ {
    background-image: url("../Images/equity_QGrey.png" );
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position-x: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontOfQ {
}

.backgroundPartners{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:.1;
}

.frontOfPartners {
    position:absolute;
    max-width:80%;
}

hBoxContainer{
    display:table;
}

.hBox{
    padding-left:2em;
    padding-top:2em;
    background-color:bisque;
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-content:center;
    min-height: 300px;
}

.inHBox{
    min-height: 200px;
    align-items: center;
    justify-content: center;

}


.hvcenter {
    height:5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:768px) {
    .hvcenter {
        height: 20em;
    }
}

@media only screen and (min-width:922px) {
    .hvcenter {
        height: 20em;
    }
}

@media only screen and (min-width:1200px) {
    .hvcenter {
        height: 20em;
    }
}


 .hvcenteritems {
     padding-top:10px;
     padding-bottom: 20px;
     width: 66% ;
     text-align:center;
 }

.tName, .bName {
    color: rgb(43, 169,225);
    font-size:1.7em;
    height: 1em;
    text-align:center;
    /*background-color:black;*/
 }

.tTitle, .bTitle {
    display:block;
    color: rgb(43, 169,225);
    height:3em;
    text-align:center;
 }

.tBio {
    color: rgb(43, 169,225); 
    display:none;
}


.bBio {
    color: rgb(43, 169,225);
    display:none;
 }

 .tImg, .bImg {
    width: 250px;
    height: 250px;
    margin:0 auto;
    background-size:cover;
    background-position: 50% 50%;
    display:block;
 }

 h1,h2,h3,h4,h5,h6,p {
    color: rgb(43, 169, 225);
}

  h3 {
    color: rgb(43, 169,225);
    font-size:2em;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#Team, #MockupTeam {
    padding-right:15px;
    padding-left:15px;
}

.foot {
    border-top:20px;
    margin:0 10px;
}

.BlackOnWhite, .BlueOnWhite, .BlueOnBlack, .WhiteOnBlack, .WhiteOnBlue, .Rainbow, .USA2 {
    width:300px;
}

.BlackOnWhite {
    background-color:white;
}
.BlueOnWhite {
    background-color:white;
}
.BlueOnBlack {
    background-color:black;
}
.WhiteOnBlack {
    background-color:black;
}
.WhiteOnBlue {
    background-color:rgb(43, 169, 225);
}
.Rainbow {
    background-color:white;
}
.USA2 {
    background-color:rgb(43, 169, 225); 
}