/* is it 43,169,225 or 38,169,225? */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    color: rgb(43,169,225); /* #28a9e1 */
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
/* use bullets content lists */
ul {
    list-style:none;
}

div.sectionTilte, .sectionTilte {
    text-align:center;
    font-size:2.5em;
    font-weight:700;
    padding-top:2em;
    padding-bottom:2em;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add the logo, Change the header background to EQUITY blue (43, 169, 225) with white text*/
.navbar {
    transition: all .5s ease-out;
}

.navbar-default .navbar-brand {
    background-image: url("../Images/equity_V3-03white.png" );
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip:border-box;
    padding:0;
    margin-top: 0;
    width:250px;
    height:60px;
}


.nav {
    border-color: black;
}

.navbar-default  {
    border: none;
    background-color:black;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    background-color: black;
    color: white;   
    text-shadow: none;
    font-size:1.2em;
}

 .navbar-default .navbar-nav > li > a:hover {
    background-color:black;
    color: rgb(43, 169, 225);
}
  
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav  .active  a:hover,
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
    /*  color: rgb(43, 169, 225);     */
    color:rgb(43, 169, 225);
    font-weight: 700;
    background-color:black;
}



/*.navbar-default .navbar-brand:hover {
    color: white;
}*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:black;
}

.capsuleMenuBotton { /* Only when menu is not a burger*/
    font-size:1.2em;
    border-style:solid;
    border-color:rgb(43, 169, 225);
    border-radius:3em;
    color:rgb(43, 169, 225);
}
/* Map Image class is WideImage */
.container {
    
    margin-left: 0;
    margin-right: 0;
}

.WideImage {
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    width:100%;
}

.NarrowImage {
    padding: 0 0 0 0; /*pixels*/
    position:relative;
}

.MapImage {
    padding: 0 0 0 0; /*pixels*/
    margin-left:0;
    margin-right:0;
    width:100%;
    height:100%;
}

.DAMNWrap {
    position:relative;
    width:100%;
    height:100%;
}

div.DAMNWrap h4 {
    position:absolute;
    color:rgb(43,169,225);
    bottom:1em;
    right:5em;
    font-size:1.2em;
    font-style:italic;
}
    
.mosaic, .DAMNroom {
    display:none;
}


.MosaicImage {
    position:relative;
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    padding-right:0;
    margin-left:0;
    margin-right:0;
    width:100%;
}

div.MosaicImage h3 {
    position:absolute;
    color:white;
    font-size:1.5em;
    font-style:italic;
    top:1em;
    text-align:center;
    width:100%;
}

div.MosaicImage h4 {
    position:absolute;
    color:white;
    font-size:.9em;
    font-style:italic;
    font-weight:700;
    bottom:1em;
    text-align:center;
    width:100%;
}

.RoomImage {
    position:relative;
    padding: 0 0 0 0; /*pixels*/
    padding-left:0;
    margin-left:0;
    margin-right:0;
    width:100%;
}

div.RoomImage h4 {
    position:absolute;
    color:white;
    font-size:1.5em;
    font-style:italic;
    top:.7em;
    text-align:center;
    font-weight:700;
    width:100%;
}

div.RoomImage h3 span {
    width:80%;
    color:white;
    top: 1em;
}


.repad {
    padding-left: 15px;
    padding-right: 15px;
}

.intro {
    padding-top:12em;
    padding-bottom:14em;
}

.MissionSummary{
    background-color:rgb(43,169,225);
}

MissionSummaryHeadFoot  {
    min-height: 1em;
}

.MissionSummary .eqsignbox {
    border-color:white;
     
    padding:0 0 1em 0;
}

.MissionSummary .eqsign {
    color:black;
}

.MissionSummary .MissionDescBox {
    padding:0 0 7em 0;
    display:flex;
}

.MissionSummary .MissionDesc {
}

.MissionSummary h3 {
    color:white;
    text-align:center;
}

.MissionSummary p {
    color:white;
    text-align:center;
}

.MissionSummary .statement {
    padding: 06em 0 0 0;
}

p.MissionDesc {
    padding: 0 0 6em 0;
}

.MissionSummary .separator, .MissionDesc .separator  {
    border-left-style:solid;
    border-left-color:white;
}

.MissionSummary .hvcenteritems {
    width:50%;
}

.MissionSummary .displayflex {
    display:flex;
    justify-content:center;
}

.MissionSummary .centereddiv {
    width: 50% ;
    text-align:center;
}

.MissionSummary .centereddiv2 {
    width: 800% ;
    text-align:center;
}

.WhatIsEquity {
    background-color:white;
}

.WhatIsEqHeadFoot {
    min-height: 1em;
}

.WhatIsEquity .statement {
    padding:8em 0 0 0;  
}

.WhatIsEquity .displayflex {
    display:flex;
    justify-content:center;
}

.WhatIsEquity .centereddiv {
    text-align:center;
    width: 70%;
}

.WhatIsEquity .separator {
    border-left-style:solid;
    border-right-style:solid;
    border-left-color:rgb(43,169,225);
    border-right-color:rgb(43,169,225);
}

.WhatIsEquity .minheight {
    padding-top: 5em;
    padding-bottom:5em;
}

.WhatIsEquity desctext {
    color:black;
}

.partners-UN {
    background-color:rgb(43,169,225);
    color:white;
}

.backgroundPartners-UN-div {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundPartners-UN{
}

.frontOfPartners-UN {
    position:absolute;
    max-width:80%;
}

.frontOfPartners-UN-Image {
    /*position:absolute;*/
    max-width:80%;
    opacity:.6;
}


.partners-GG {
    background-color:white;
    color:rgb(43,169,225);
}

.backgroundPartners-GG{
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GlobalGoals {
    padding: 2em 0 2em 0;
    background-color:rgb(43,169,225);
    color:white;
    display:none;
}

.pushright {
    float:right;
}

 .banner {
    text-align:center;
    font-weight:800;
}

 .spacedbanner{
     padding-top: 1em;
 }

 .center {
    text-align:center;
}
.EquityGoal {
    margin-left:1em;
    margin-right:1em;
 }

.EquityGoalContainer {
}

.EquityGoalText {
}

.EquityGoal li p {
}

.separator {
    border-left-style:solid;
    border-left-color:rgb(43,169,225);
}

.backgroundQ {
    background-image: url("../Images/equity_QGrey.png" );
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position-x: center;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontOfQ {
}

hBoxContainer{
    display:table;
}

.hBox{
    padding-left:2em;
    padding-top:2em;
    background-color:bisque;
    display: block;
    height: auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    align-content:center;
    min-height: 300px;
}

.inHBox{
    min-height: 200px;
    align-items: center;
    justify-content: center;

}

@media only screen and (min-width:768px) and (min-width:992px) and (min-width:1200px) {
    .MissionSummary .statement {
        padding: 07em 0 0 0;
    }
    /*
    .hvcenter {
        display: flex;
        align-items:center;
        justify-content:center;
        vertical-align:bottom;
        text-align:center;
        border-style:dashed;
        border-color:orange;
    }*/
    .EquityGoalText {
    }
    .EquityGoalImage {
    width:10%;
    float:left;
    }
    div.sectionTilte, .sectionTilte {
    text-align:center;
    font-size:2.5em;
    font-weight:700;
    padding-top:2em;
    padding-bottom:2em;
    }

}

.tName, .bName {
    color: rgb(43, 169,225);
    font-size:1.7em;
    height: 1em;
    text-align:center;
    /*background-color:black;*/
 }

.tTitle, .bTitle {
    display:block;
    color: rgb(43, 169,225);
    height:3em;
    text-align:center;
 }

.tBio {
    color: rgb(43, 169,225); 
    display:none;
}


.bBio {
    color: rgb(43, 169,225);
    display:none;
 }

 .tImg, .bImg {
    width: 250px;
    height: 250px;
    margin:0 auto;
    background-size:cover;
    background-position: 50% 50%;
    display:block;
    border-radius: 50%;
 }

 /*h1,h2,h3,h4,h5,h6,p {
    color: rgb(43, 169, 225);
}

  h3 {
    color: rgb(43, 169,225);
    font-size:2em;
}
*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
#Team, #MockupTeam {
    padding-right:15px;
    padding-left:15px;
}

.foot {
    border-top:20px;
    margin:0 10px;
}

.BlackOnWhite, .BlueOnWhite, .BlueOnBlack, .WhiteOnBlack, .WhiteOnBlue, .Rainbow, .USA2 {
    width:300px;
}

.BlackOnWhite {
    background-color:white;
}
.BlueOnWhite {
    background-color:white;
}
.BlueOnBlack {
    background-color:black;
}
.WhiteOnBlack {
    background-color:black;
}
.WhiteOnBlue {
    background-color:rgb(43, 169, 225);
}
.Rainbow {
    background-color:white;
}
.USA2 {
    background-color:rgb(43, 169, 225); 
}